:root {
    --color-text: #2c3e50;
    --color-text-note: #6f7275;

    --color-primary: #46bd87;
    --color-secondary: #35495e;
    --color-border-default: #eaecef;

    --color-danger: #ca1932;
    --color-warn: #d4c91f;
    --color-success: #19b119;
    --color-disable: #cdd1d3;

    --blocks-padding: 1em 1.5em;
    --blocks-border-radius: 1em;

    --border-radius-elements: 0.4em;

    --transition-time-fast: 0.2s;
    --transition-time-default: 0.4s;
    --transition-time-slow: 0.8s;

    --transition-fast: all 0.2s ease-in;
    --transition-default: all 0.4s ease-in;
    --transition-slow: all 0.8s ease-in;


    --main-bg: #fff;

    --header-bg: #fff;
    --header-border-color: var(--color-border-default);

    --sidebar-bg: #263238;

    --menu-text-color: #2c3e50;


    --form-item-margin: 0 0 1.5em;

    --form-item-title-font-size: 1em;
    --form-item-title-font-weight: 600;
    --form-item-title-line-height: 2.5em;

    --form-item-field-height: 2.5em;
    --form-item-field-padding: 0 .8em;
    --form-item-field-padding-textarea: .4em .8em;
    --form-item-field-background: #fff;
    --form-item-field-border: 1px solid var(--color-border-default);
    --form-item-field-border-radius: var(--border-radius-elements);
}